/admin/
/images/
/install/
/plugins/extend/*
/plugins/templates/*
!/plugins/templates/default
/plugins/languages/*
/plugins/templates/.htaccess
/plugins/*/*/DISABLED
/plugins/*/*/config.php
/plugins/.htaccess
/system/
/upload/
/vendor/
/bin/
/.htaccess
/index.php
/config.php
/robots.txt
/mail.log
